.container {
    text-align: center;
    color: blue;
    border: dashed;
    align-items: center;
    background-color: antiquewhite;
}

form label {
    color: black;
}

form input {
    width: 80%;
}